<div class="mock-data-container">
  <div class="mock-data-root" cdkDropList (cdkDropListDropped)="onDrop($event)">

    <!-- TODO: add ability to dynamically insert a new field -->
    <!-- TODO: add ability to rearrange fields -->
    <!-- TODO: add ability to create a group of fields -- i.e. hierarchical data -->

    <div class="data-element-container" *ngFor="let element of builder.controls" cdkDrag>
      <app-mock-element (elementRemoved)="onElementRemoved($event)" [element]="element"
                        *ngIf="isSimpleElementGroup(element)"></app-mock-element>
      <app-mock-group-v1 (elementRemoved)="onElementRemoved($event)" [element]="element"
                        *ngIf="!isSimpleElementGroup(element)"></app-mock-group-v1>
    </div>

    <div class="form-row">
      <button type="button" (click)="doAddRootElement()" class="btn btn-primary btn-sm">Add</button>
    </div>
  </div>

</div>
