<div *ngIf="namedStructures?.length > 0">

  <app-simple-modal [id]="_modal_id" [clickToClose]="true">
    <!-- TODO: refine content of model -->
    <strong>Reset to the following structure?</strong>
    <pre>{{myFormGroup.value|json}}</pre>
    <div class="form-row">
      <button type="button" class="form-inline btn btn-outline-primary btn-sm"
              (click)="doLoadStructure()">
        Proceed
      </button>
      <button type="button" class="form-inline btn btn-outline-primary btn-sm"
              (click)="modalService.close(_modal_id)">
        Cancel
      </button>
    </div>
  </app-simple-modal>

  <div class="form-row">
      <div class="form-group w-25" [formGroup]="myFormGroup">
        <label for="savedStructureName">Saved Structure</label>
        <select type="text" id="savedStructureName" name="savedStructureName" required
                class="form-control" formControlName="savedStructureName"
                (change)="doSoftLoad()">
          <option *ngFor="let item of namedStructures" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <button type="button" (click)="doLoadRequested()">Load</button>
    </div>
</div>

<app-debug-block>
  <br/>saved structures<br/>
  <pre>{{namedStructures|json}}</pre>

  <div *ngIf="form.get('LoadSavedStructureComponent').get('newStructure').value">
    <br/>new structure<br/>
    <pre>{{form.get('LoadSavedStructureComponent').value|json}}</pre>
  </div>

  <br/>root structure<br/>
  <pre>{{structure.value|json}}</pre>
</app-debug-block>
