
.debug-block {
  border: #2a7fbf solid 1px;
  margin: 0px 2em 2em;
  padding: 1em;
  font-size: smaller;
}

.debug-block em {
  font-size: larger;
  font-weight: bold;
  font-variant-caps: small-caps;
}


.debug-info {
  padding: 1em 2em;
}
