html, body, #tv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  display: block;
  position: fixed;
  z-index: 1;
  padding: .25em .5em;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}

.overlay.v1 {
  top: 2em;
  left: 2em;
  color: black;
  background-color: rgba(255,255,255,.25);

}

.overlay.v2 {
  top: 5em;
  left: 2em;
  color: whitesmoke;
  background-color: rgba(0,0,0,.25);

}


#tv {
  z-index: 0;
  position: absolute;
  top: 5em;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
