<header class="site-header" role="banner">

  <div class="topbar">
    <h1 class="site-title"><a href="/">

      <!-- Logo begin -->
      Mockiato ☕
      <!-- Logo end -->

    </a></h1>

    <nav class="top-navigation" role="navigation">
      <ul class="inline-list padded-list">
        <li><a routerLink="/prototype/mock" class="icon">Mock</a></li>
        <li><a routerLink="/prototype/browse" class="icon">Browse</a></li>
        <li><a routerLink="/prototype/data" class="icon">Data</a></li>
        <li><a routerLink="/api" class="icon">Api</a></li>
        <li><a routerLink="/wiki" class="icon">Wiki</a></li>
        <li *ngIf="auth.isAuthenticated()"><a routerLink="/logout" class="icon">Logout</a></li>
        <li *ngIf="!auth.isAuthenticated()"><a (click)="auth.login()" class="icon button button-red button-login toggle-hide">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>
<app-login-modal *ngIf="env.internalAuthModal && !auth.isAuthenticated()"></app-login-modal>
