<header class="site-header" role="banner">

  <div class="topbar">
    <h1 class="site-title"><a href="/">

      <!-- Logo begin -->
      Mockiato ☕
      <!-- Logo end -->

    </a></h1>

    <nav class="top-navigation" role="navigation">
      <ul class="inline-list padded-list">
        <li><a href="/prototype/mock" class="icon ion-mock">Mock</a></li>
        <li><a href="/prototype/browse" class="icon ion-map">Browse</a></li>
        <li><a href="/prototype/data" class="icon ion-chatbubbles">Data</a></li>
        <li><a href="/api" class="icon ion-paper-airplane">Api</a></li>
        <li><a href="/wiki" class="icon ion-edit">Wiki</a></li>
        <li *ngIf="auth.isAuthenticated()"><a href="/logout" class="icon ion-polymer">Logout</a></li>
        <li *ngIf="!auth.isAuthenticated()"><a (click)="auth.login()" class="icon ion-android-exit button button-red button-login toggle-hide">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>
